* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .2s;
}

:root {

    --cor-de-fundo: #f9f9f9;
    --cor-primaria: #71A894;
    --cor-secundaria: #5a8676;
}

html {
    scroll-behavior: smooth;
}

#btn-system {
    background-color: var(--cor-primaria);
    color: #fff;
    padding: 10px;
    border-radius: 50px;

    &:hover {
        background-color: var(--cor-secundaria);
    }
}

p {
    overflow-wrap: break-word;
}

button,
li {
    border: none;
    cursor: pointer;
}

li {
    list-style: none;

    &:hover {
        color: var(--cor-secundaria);
    }
}

button {
    background-color: var(--cor-primaria);
    color: #fff;

    border: none;
    border-radius: 12px;

    cursor: pointer;

    &:hover {
        background-color: var(--cor-secundaria);
    }
}

span {
    color: var(--cor-primaria);
}

a {
    color: black;
}

/* h1{
    color: #303031;
} */

body {
    background-color: var(--cor-de-fundo);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background-color: var(--cor-de-fundo);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    padding: 20px 60px;


    ul {
        display: flex;
        align-items: center;

        li {
            margin: 0px 10px;
        }
    }
}

header {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 8rem 5rem;

    h1 {
        font-size: 80px;
    }

    p {
        font-size: 20px;
        width: 800px;
        margin: 20px 0px;
    }

    button {
        width: 400px;
        padding: 20px;

        font-size: 20px;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10rem 0rem;

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
        width: 1200px;
        margin: 20px 0px;
    }

    section {
        display: flex;
        align-items: center;

        margin: 2rem 5rem;

    }

    .app-info {

        .card {

            display: flex;
            flex-direction: column;
            align-items: center;

            padding: 30px;
            margin: 10px;

            width: 400px;
            height: 330px;

            border-radius: 5px;

            background-color: #fff;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

            img {
                width: 50%;
                object-fit: cover;
            }

            h2 {
                margin-top: 10px;
            }

            p {
                width: 100%;
            }
        }
    }

    .app-site {
        display: flex;

        margin: 5rem 0rem;

        .title-site-app {
            display: flex;
            flex-direction: column;

            padding: 10px;
            margin: 0px 50px;

            h1 {
                font-size: 40px;
            }

            p {
                overflow-wrap: break-word;
                width: 600px;
            }

            button {
                width: 400px;
                padding: 20px;
                font-size: 20px;
            }
        }

        img {
            width: 800px;
        }

    }

    .how-to-use {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin: 10rem 5rem;

        h1{
            margin: 10px 0px;
        }

        details {

            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

            
            padding: 0px;
            margin: 10px 0px;

            max-width: 800px;
            width: 1200px;

            summary {

                padding: 20px;
                cursor: pointer;
                font-size: 1.5rem;
                color: #333;
            }

            p {
                width: 100%;
                padding: 20px;
            }

        }


        details[open] summary {
            color: #0077cc;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;

    margin: 10rem 2rem 2rem 2rem;

    ul {
        display: flex;

        li {
            margin: 0px 10px;
            cursor: pointer;
        }
    }
}